<div class="container">
  <table class="table">
    <tbody>
      <tr class="_inputRow col-lg-12" [formGroup]="cellForm">
        <td class="text-lg-center"><input formControlName="date" type="date" /> </td>
        <td class="text-lg-center">
          <input formControlName="startAddress" (keydown)="initStartInput($event)" #startAddressRef placeholder="Start Adresse" type="text" />
          <div *ngIf="getStartAddress.invalid && (getStartAddress.dirty || getStartAddress.touched)"
               class="alert alert-danger errorMessage">
            <div *ngIf="getStartAddress.errors.required">
              Er denne adresse korrekt?
            </div>
          </div>
        </td>
        <td class="text-lg-center">
          <input formControlName="endAddress" (keydown)="initEndInput($event)" #endAddressRef placeholder="Slut Adresse" type="text" />
          <div *ngIf="getEndAddress.invalid && (getEndAddress.dirty || getEndAddress.touched)"
               class="">
            <div class="alert alert-danger errorMessage" *ngIf="getEndAddress.errors.required">
              Er denne adresse korrekt?
            </div>
          </div>
        </td>
        <td> <app-toggle [on]="_roundTrip" (toggled)="RouteTripSwitch($event)"> </app-toggle> </td>
        <td class="text-lg-center"><input formControlName="distance" placeholder="Distancen" type="text" /> </td>
      </tr>
    </tbody>
  </table>

  <table class="table col-lg-12">
    <thead>
      <tr>
        <th class="text-lg-center">Dato</th>
        <th class="text-lg-center">Start Adresse</th>
        <th class="text-lg-center">Slut Adresse</th>
        <th class="text-lg-center">Tur/retur</th>
        <th class="text-lg-center">Distance</th>
      </tr>
    </thead>
    <tbody class="_infoRow col-lg-12">
      <tr *ngFor="let cell of Cells">
        <td class="text-lg-center">  {{cell.Date}} </td>
        <td class="text-lg-center"> {{cell.StartAddress}} </td>
        <td class="text-lg-center"> {{cell.EndAddress}}  </td>
        <td class="text-lg-center"> {{cell.RoundTrip}} </td>
        <td class="text-lg-center">
          {{cell.Distance}}
          <div class="_btnColumn">
            <a class="" (click)="deleteCell(cell)">
              <app-delete-btn></app-delete-btn>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
