<div class="container">
  <table class="table">
    <tbody>
      <tr class="_inputRow col-lg-12" [formGroup]="cellForm">
        <td class="text-lg-center"><input formControlName="date" type="date" /> </td>
        <td class="text-lg-center">
          <input formControlName="startAddress" (keydown)="initStartInput($event)" #startAddress placeholder="Start Adresse" type="text" />
          <div *ngIf="getStartAddress.invalid && (getStartAddress.dirty || getStartAddress.touched)"
               class="alert alert-danger">
            <div *ngIf="getStartAddress.errors.required">
              Address is required.
            </div>
          </div>
        </td>
        <td class="text-lg-center">
          <input formControlName="endAddress" (keydown)="initEndInput($event)" #endAddress placeholder="Slut Adresse" type="text" />
          <div *ngIf="getEndAddress.invalid && (getEndAddress.dirty || getEndAddress.touched)"
               class="alert alert-danger">
            Invalid
            <div *ngIf="getEndAddress.errors.required">
              Address is required.
            </div>
          </div>
        </td>
        <td> <app-toggle [on]="_roundTrip" (toggled)="RouteTripSwitch($event)"> </app-toggle> </td>
        <td class="text-lg-center"><input formControlName="distance" placeholder="Distance for ruten" type="text" /> </td>
      </tr>
    </tbody>
  </table>

  <table class="table col-lg-12">
    <thead>
      <tr>
        <th scope="col" class="text-center">Dato</th>
        <th scope="col" class="text-center">Start Adresse</th>
          <th scope="col" class="text-center">Slut Adresse</th>
          <th scope="col" class="text-center">Tur/retur</th>
          <th scope="col" class="text-center">Distance</th>
      </tr>
    </thead>
    <tbody class="_infoRow col-lg-12">
      <tr *ngFor="let cell of TableArray">
        <td class="text-lg-center">  {{cell.Date}} </td>
        <td class="text-lg-center"> {{cell.StartAddress}} </td>
        <td class="text-lg-center"> {{cell.EndAddress}}  </td>
        <td class="text-lg-center"> {{cell.RoundTrip}} </td>
        <td class="text-lg-center"> {{cell.Distance}} </td>
        <td class="_btnColumn">
          <a class="_deleteBtn" (click)="deleteCell(cell)">
            <app-delete-btn></app-delete-btn>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
