thead {
    th {
        background-color: white;
        border-style: solid;
        border-width: 0.5px;
    }
}

._inputRow {
    td {
        input {
            background-color: white;
            border-style: none;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        input::placeholder {
            text-align: center;
            font-size: small;
        }

        input:focus {
            border-bottom-width: 2px;
            outline: none;
            color: rgba(0, 0, 0, 0.2);
            text-align: center;
            font-size: large;
        }
    }
}

._infoRow {
    tr: nth-child(even) {
        background: rgba(238, 226, 255, 0.6);
    }

    tr:nth-child(odd) {
        background: rgba(238, 226, 255, 1);
    }

    _deleteBtn {
        padding-left: 20px;
        position: absolute;
    }

    ._btnColumn {
        background-color: white;
        border-style: none;
        padding-left: 0px;
    }
}
