._cylinderbutton {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

  &-left {
    background: rgba(64, 255, 6, 0.2);
  }

  &-right {
    background: rgba(14, 6, 255, 0.2);
  }

  &-left:hover {
    background-color: rgba(64, 255, 6, 0.5);
  }

  &-right:hover {
    background-color: rgba(14, 6, 255, 0.5);
  }
}


.input-field {
  border: none;
  text-align: center;

  input {
    border-style: none;
    text-align: center;
  }

  input::placeholder {
    text-align: center;
    border-style: none;
  }

  input:focus {
    outline: none;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: large;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }

  select {
    color: rgba(0, 0, 0, 0.8);
    border-style: none;
  }

  select::placeholder {
    text-align: center;
    border-style: none;
    color: rgba(0, 0, 0, 0.8);
  }

  option {
    color: rgba(0, 0, 0, 0.8);
  }

  option:focus {
    color: rgba(0, 0, 0, 0.8);
    outline: none;
  }
}
